#Variables for pg
POSTGRES_HOST="host"
POSTGRES_USERNAME="username"
POSTGRES_PASSWORD="password"
POSTGRES_DATABASE="bingo"

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#Variable for Prisma
DATABASE_URL="postgresql://username:password@host:5432/bingo?schema=public"

CLERK_PUBLISHABLE_KEY="Get it from Clerk Dashboard"
CLERK_SECRET_KEY="Get it from Clerk Dashboard"
SIGNING_SECRET="Get it from Clerk Dashboard"